{{define "header"}}
<html>
    <body>
{{end}}
{{define "footer"}}
        <p>Copyright OishiFood 2023</p>
<!-- Note: This body & html tags are not opened in this named template -->
    </body>
</html>
{{end}}